@define-color bg #2b3b37;
@define-color fg #ccc4b3;
@define-color gray1 #a6bfad;
@define-color gray2 #65817a;
@define-color gray3 #98cdc5;
@define-color gray4 #bdbea7;
@define-color gray5 #cd98a7;
@define-color fg_bright #ccc4b3;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}