@define-color bg #2b373b;
@define-color fg #ccccb3;
@define-color gray1 #9ec89d;
@define-color gray2 #657a81;
@define-color gray3 #9cacc9;
@define-color gray4 #bcc5a0;
@define-color gray5 #cda798;
@define-color fg_bright #ccccb3;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}