@define-color bg #3b2b3b;
@define-color fg #ccb9b3;
@define-color gray1 #9fc6b8;
@define-color gray2 #816581;
@define-color gray3 #989fcd;
@define-color gray4 #cdb498;
@define-color gray5 #c2a3b3;
@define-color fg_bright #ccb9b3;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}